.map-marker {
  position: absolute;
  z-index: 2;
}

.map-marker:hover {
  transform: scale(1.4);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
}

.map-marker > path:hover {
  fill: #b30000;
}

.map-card {
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
  position: absolute;
  cursor: pointer;
  row-gap: 10px;
  z-index: 3;
}
